/* Estilo general */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4fb; /* Color de fondo pastel */
    color: #333;
    margin: 20px;
    padding: 0;
}

/* Encabezados */
h1, h3 {
    text-align: center;
    color: #6a1b9a; /* Tono violeta suave */
}

/* Formulario y secciones */
form, .preguntas, .practica {
    background-color: #ffffff; /* Fondo blanco para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    max-width: 600px;
    margin: 20px auto; /* Centrado */
}

/* Etiquetas de campos */
label {
    font-size: 16px;
    color: #6b6b6b;
    margin-bottom: 5px;
    display: block;
}

/* Estilo de los inputs */
input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    transition: border-color 0.3s;
    outline: none;
}

/* Inputs grandes y que crecen conforme escribes */
input[type="text"]:focus {
    border-color: #b0d7ff; /* Color de enfoque pastel */
}

input[type="text"] {
    resize: vertical;
    min-height: 40px; /* Altura mínima para campos de texto */
    overflow: auto; /* Para habilitar scroll si es necesario */
}

/* Botones */
button {
    background-color: #8e24aa; /* Violeta pastel */
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #7b1fa2; /* Tono más fuerte para hover */
}

/* Puntuación */
#puntuacion {
    font-size: 24px;
    color: #6a1b9a;
    text-align: center;
    margin-top: 20px;
}

/* Estilo de las preguntas */
#preguntas div, .practica div {
    background-color: #e1bee7; /* Color pastel suave */
    border-radius: 8px; /* Bordes redondeados */
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

#preguntas button, #practica button {
    background-color: #ce93d8; /* Violeta pastel para botones */
    margin-right: 5px;
    margin-bottom: 5px;
}

#preguntas button:hover, #practica button:hover {
    background-color: #ba68c8; /* Tono más fuerte para hover */
}

/* Resultados */
#resultado h3 {
    color: #6a1b9a;
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}
